<footer class="bg-primary text-white p-6 bottom-0 w-full">
  <div
    class="max-w-4xl mx-auto flex justify-between items-center flex flex-col items-center gap-5"
  >
    <p>© 2023 The Thought Loom. All rights reserved.</p>
    <div class="flex gap-4">
      <a href="/" class="hover:text-purple-200 transition-colors">Home</a>
      <a href="#" class="hover:text-purple-200 transition-colors">Privacy</a>
      <a href="/about" class="hover:text-purple-200 transition-colors"
        >Contact</a
      >
    </div>
  </div>
</footer>
