<nav class="flex justify-between items-center shadow-lg p-5 bg-white">
  <div class="site-title font-bold text-xl text-primary">
    <a href="/">The Thought Loom</a>
  </div>

  <ul class="flex gap-8 font-medium">
    <li class="hover:text-secondary transition-colors">
      <a href="/">Blogs</a>
    </li>
    <li class="hover:text-secondary transition-colors">
      <a href="/about">About</a>
    </li>
    <li class="hover:text-secondary transition-colors">
      <a href="/blogs/create">New Blog</a>
    </li>
  </ul>
</nav>
