<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="flex justify-between items-center shadow-lg p-5">
      <div class="site-title font-semibold text-lg text-[#2D336B]">
        The Thought Loom
      </div>

      <ul class="flex gap-8">
        <li class="text-[#7886C7]"><a href="/"> Blogs </a></li>
        <li><a href="/about"> About </a></li>
        <li><a href="/blogs/create"> New Blog </a></li>
      </ul>
    </nav>
  </body>
</html>
